name: Budowa Wojtulo-OS v2.7
on: [push]

jobs:
  build-iso:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Narzedzia
        run: |
          sudo apt update
          sudo apt install -y build-essential debootstrap squashfs-tools xorriso grub-pc-bin mtools bc wget xz-utils libelf-dev libssl-dev flex bison gawk libncurses-dev

      - name: 2. Budowa wszystkiego (Kernel + Rootfs)
        run: |
          # Kernel
          wget https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.tar.xz
          tar -xf linux-6.19.tar.xz
          cd linux-6.19
          make defconfig
          scripts/config --enable CONFIG_BINFMT_MISC
          scripts/config --enable CONFIG_NTFS3_FS
          scripts/config --disable CONFIG_DEBUG_INFO_BTF
          make olddefconfig
          make -j$(nproc) bzImage
          cd ..
          
          # Przygotowanie struktury
          mkdir -p iso_root/boot/grub
          cp linux-6.19/arch/x86/boot/bzImage iso_root/boot/vmlinuz
          
          # System plikow
          sudo debootstrap --variant=minbase --include=wine,openbox,xterm,pcmanfm bookworm ./rootfs http://deb.debian.org/debian/
          sudo mksquashfs rootfs iso_root/boot/rootfs.squashfs -comp xz
          
          # Menu
          cat <<EOF > iso_root/boot/grub/grub.cfg
          set default=0
          set timeout=1
          menuentry "Wojtulo-OS" {
              linux /boot/vmlinuz boot=live
              initrd /boot/rootfs.squashfs
          }
          EOF
          
          # Robienie ISO w glownym folderze
          grub-mkrescue -o gotowy_system.iso iso_root

      - name: 3. Sprawdzanie gdzie jest plik (Debug)
        run: ls -lh *.iso

      - name: 4. Udostepnienie (Sposob bezposredni)
        uses: actions/upload-artifact@v4
        with:
          name: MOJ-PLIK-ISO
          path: gotowy_system.iso
